<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Guadalajara Country Club</name>

    <description>
        Guadalajara Country Club, el club deportivo, cultural y social más emblemático de la ciudad, cuna del Lorena Ochoa Invitational y promotor del deporte en un entorno familiar, desde 1909
    </description>

    <author href="https://kubik.mx" email="apps@kubik.mx">
        KubikInteractive
    </author>

    <gap:plugin name="com.gestionaleauto.socialshare" version="0.0.3" />

</widget>
