<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "mx.kubik.gcc"
        versionCode = "19" 
        version     = "1.0.9" >

    <!-- versionCode is optional and Android only -->

    <name>GCC</name>

    <description>
        Guadalajara Country Club, el club deportivo, cultural y social más emblemático de la ciudad, cuna del Lorena Ochoa Invitational y promotor del deporte en un entorno familiar, desde 1909
    </description>

    <author href="https://kubik.mx" email="apps@kubik.mx">
        KubikInteractive
    </author>

    <access origin="http://www.k-i.co" subdomains="true" />
    <access origin="*" />

    
    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>

    <!-- <gap:plugin name="com.onesignal.plugins.onesignal" version="1.6.1" /> -->
    <!-- <plugin name="com.onesignal.plugins.onesignal" spec="1.9.0" source="pgb" />-->

    <plugin name="com.orcasinc.cordova.inappbrowser" spec="1.0.3" source="pgb" />

    <gap:plugin name="com.mobileapart.prefs" version="1.0.1337" />

    <plugin name="com.danielcwilson.plugins.googleanalytics" spec="0.6.1" source="pgb" />

    <plugin name="com.developersanddesigners.phonegapdialogs" spec="1.1.1" source="pgb" />

    <preference name="orientation" value="portrait" />


    <!-- iOS 7.0+ -->
    <icon src="icons/Icon-60@3x.png" gap:platform="ios" width="180" height="180" />
    <icon src="icons/Icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="icons/Icon-60@2x.png" gap:platform="ios" width="120" height="120" />
    <icon src="icons/Icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="icons/Icon-76@2x.png" gap:platform="ios" width="152" height="152" />
    <icon src="icons/Icon-small.png" gap:platform="ios" width="29" height="29" />
    <icon src="icons/Icon-small@2x.png" gap:platform="ios" width="58" height="58" />
    <icon src="icons/Icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="icons/Icon-40@2x.png" gap:platform="ios" width="80" height="80" />
    <!-- iOS 6.1 -->
    <icon src="icons/Icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/Icon@2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="icons/Icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />
    <icon src="icons/Icon-50.png" gap:platform="ios" width="50" height="50" />
    <icon src="icons/Icon-50@2x.png" gap:platform="ios" width="100" height="100" />
    <!-- Android -->
    <icon src="icons/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="icons/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="icons/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="icons/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="icons/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />

    <!-- Splash -->
    <gap:splash src="splash/default.png" />
    <!-- iOS -->
    <gap:splash src="splash/Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />
    <gap:splash src="splash/Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208" />
    <gap:splash src="splash/Default-Landscape-736h@3x.png" gap:platform="ios" width="2208" height="1242" />
    <gap:splash src="splash/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="splash/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />
    <!-- Android -->
    <gap:splash src="splash/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <gap:splash src="splash/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <gap:splash src="splash/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <gap:splash src="splash/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <gap:splash src="splash/portrait-xxhdpi.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
    <gap:splash src="splash/landscape-xxhdpi.png" gap:platform="android" gap:qualifier="land-xxhdpi" />

    <!-- Iphone 5 -->
    <gap:splash src="splash/xhdpi.png" width="640" height="960" />
    <gap:splash src="splash/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="splash/Default_iphone5_land.png" gap:platform="ios" width="1136" height="640" />
    
</widget>
